#accordion {
    height: 700px;
  
  }
  
  #accordion .header {
    font-size: 20px;
  }
  .dx-accordion {
    margin-bottom:10px;
  }
  #accordion .header,
  #accordion p {
    margin: 0;
  }
  
  .dx-accordion-item-title {
    padding: 10px;
    font-size: 15px;
    border: 1px transparent;
  }
  .dx-accordion-item-title:hover {
    cursor: pointer;
  
  }
  .dx-accordion-item:hover {
    border: 1px solid #E16120
  }
  .dx-accordion-item-opened {
    border: 1px solid #E16120
  }
  .dx-accordion-item-body:hover {
background-color: rgb(231, 225, 225);
cursor: pointer;
  }
  
  .dx-theme-material #accordion .dx-accordion-item-title {
    display: flex;
  }
  
  .dx-theme-material #accordion .header {
    align-self: center;
  }
  .dx-accordion-item:last-child{
    border-bottom:1px solid #E16120;
  }
  .options {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 340px;
    top: 0;
  
  }
  
  .options > .caption {
    font-weight: 500;
    font-size: 18px;
  }
  
  .option {
    margin-top: 10px;
  }
  
  .option > .caption {
    margin-top: 10px;
    display: inline-block;
  }
  
  .option > .dx-tagbox {
    margin-top: 2px;
  }
  


/* here Devextreme ends */

.side-root{
    position:sticky;
    height: 100vh;
    top:0px;
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   background-color: white;
    padding:15px 8px;
    z-index: 100;
    box-shadow: 4px 4px 4px silver;

}
.logo-container{
    margin-bottom: 30px;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 70px;
}
.userimage{
    border-radius: 50%;
    width: 100px;
    height:100px;
}
.user-details{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:30px;
    

}
.user-options{
  display: flex;
  flex-direction: column;
  gap:30px;
}
.details{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.user-options{

}

.download{

}