.search-icon{
    font-size: 24px;
    color: orange;
    

}
.close-search-icon{
    font-size: 16px;
    color: grey;
    transition: transform 0.5s ease;
}
.close-search-icon:hover{
    font-size: 20px;
    transform: rotate(180deg);
    color: orange;
}

.search-title{
    font-size: 20px;
    font-weight: 600;
}

.left-icon-root{
    width:12%;
    display: flex;
    align-items: center;


    border-top-left-radius:50%;
    border-bottom-left-radius: 50% ;
    padding: 7px 14px  ;
    height: 100%;
    justify-content: center;

}
.right-icon-root{
    width:12%;
    display: flex;


    align-items: center;
    justify-content: center;

    border-top-right-radius:50%;
    border-bottom-right-radius: 50% ;
    font-size: 14px;
    color: grey;
    padding: 7px 14px  ;
    height: 100%;
  

}
.search-input{
width:76%;

 
    
}
.search-input input{
    width: 100%;
    height: 100%;
  outline: none;
  border: none;

}

.input-search-root{
    display: flex;
    align-items: center;
    gap:15px;
}

.input-search-elm{
    width:450px;
    border-radius: 34px;
  box-shadow: 3px 3px 3px silver;
    padding: 3px  ;
    height:60px;
    display: flex;
    align-items: center;
    margin: 5px;
  


}
.input-search-elm div{
    padding:5px;
    display: flex;
    align-items: center;
    height:100%
}